@font-face {
    font-family: "Bloomreach Sans";
    src:
        url(https://www.bloomreach.com/css/fonts/BloomreachSans-Regular.woff2)format("woff2"),
        url(https://www.bloomreach.com/css/fonts/BloomreachSans-Regular.woff)format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: "Bloomreach Sans";
    src:
        url(https://www.bloomreach.com/css/fonts/BloomreachSans-Medium.woff2)format("woff2"),
        url(https://www.bloomreach.com/css/fonts/BloomreachSans-Medium.woff)format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: block
}
